@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
}
.swiper-pagination-bullet {
  background: white;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}
